@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg text-white font-sans;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #1f2933;
  border-radius: 9999px;
}